<Section class="section">
  <div class="nav-container">
    <a class="logo-link" href="/">
      {{ partial "icons/ui/logo.html" . }}
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>

    <div class="nav-controls">
      <button class="icon-wrapper" type="button" onclick="location.href='/post'">
        <span class="article-author-name-open">blog</span>
      </button>

      <button class="icon-wrapper" type="button" onclick="window.open('/assets/resume-deden.pdf')">
        <span class="article-author-name-open">resume</span>
      </button>

      <button class="icon-wrapper" type="button" onclick="location.href='/about'">
        <span class="article-author-name-open">about</span>
      </button>

      <button id="themeColorButton" class="icon-wrapper">
        <div id="sunRays" class="sun-rays"></div>
        <div id="moonOrSun" class="moon-or-sun"></div>
        <div id="moonMask" class="moon-mask"></div>
      </button>
    </div>
  </div>
</Section>

{{ $script := resources.Get "js/toggleLogos.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/toggleColors.js" }}
<script src="{{ $script.RelPermalink }}"></script>