{{ define "main" }}

<section class="section" relative id="Articles__Hero">
  <div class="heading-container">
    <h1 class="hero-heading">{{ .Page.Params.hero.heading }}</h1>

    {{ partial "social-links/social-links.html" . }}

  </div>
</section>

{{ end }}
