<div id="logo-desktop">

    <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 24 24" width="24pt" height="24pt">
      <image
        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAOCAYAAADqtqZhAAAARElEQVQYV8XOMRGAUAxEwfcnBnBAn+KIRCQgASs4QQIYyDFggnK7HZI22wtwD0kGsH38hhOYv0FmVkTswDXeV1VN3b0+gipFtM6Sd88AAAAASUVORK5CYII="
        x="6.844" y="9.715" width="2.813" height="14.004" />
      <path
        d=" M 13.505 7.88 L 16.277 7.36 C 16.877 7.248 17.521 6.686 17.715 6.106 L 18.302 4.344 L 13.595 5.226 L 6.057 6.64 C 5.456 6.752 4.812 7.314 4.619 7.894 L 4.031 9.656 L 10.693 8.407 Q 10.693 15.551 10.693 18.375 C 10.693 18.965 11.148 19.363 11.721 19.287 C 11.777 19.286 11.835 19.28 11.894 19.269 L 15.552 18.583 C 16.152 18.47 16.796 17.908 16.989 17.329 L 17.577 15.566 L 13.505 16.33 L 13.505 7.88 Z "
        fill="rgb(52,158,255)" />
      <path
        d=" M 4.031 5.906 L 17.943 3.298 C 18.544 3.185 19.188 2.623 19.381 2.044 L 19.969 0.281 L 6.057 2.89 C 5.456 3.002 4.812 3.564 4.619 4.144 L 4.031 5.906 Z "
        fill="rgb(46,46,46)" />
    </svg> -->
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
    viewBox="0 0 185 24" width="185pt" height="24pt">
    <image
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAOCAYAAADqtqZhAAAARElEQVQYV8XOMRGAUAxEwfcnBnBAn+KIRCQgASs4QQIYyDFggnK7HZI22wtwD0kGsH38hhOYv0FmVkTswDXeV1VN3b0+gipFtM6Sd88AAAAASUVORK5CYII="
      x="5.813" y="9.715" width="2.813" height="14.004" />
    <path
      d=" M 12.474 7.88 L 15.246 7.36 C 15.846 7.248 16.49 6.686 16.683 6.106 L 17.271 4.344 L 12.564 5.226 L 5.025 6.64 C 4.425 6.752 3.781 7.314 3.588 7.894 L 3 9.656 L 9.661 8.407 Q 9.661 15.551 9.661 18.375 C 9.661 18.965 10.117 19.363 10.69 19.287 C 10.746 19.286 10.804 19.28 10.863 19.269 L 14.52 18.583 C 15.121 18.47 15.765 17.908 15.958 17.329 L 16.546 15.566 L 12.474 16.33 L 12.474 7.88 Z "
      fill="rgb(52,158,255)" />
    <path
      d=" M 3 5.906 L 16.912 3.298 C 17.513 3.185 18.157 2.623 18.35 2.044 L 18.938 0.281 L 5.025 2.89 C 4.425 3.002 3.781 3.564 3.588 4.144 L 3 5.906 Z "
      fill="rgb(46,46,46)" />
    <path
      class="change-fill"
      d=" M 109.18 18.819 L 109.18 18.819 Q 107.1 18.819 105.43 17.899 L 105.43 17.899 L 105.43 17.899 Q 103.76 16.979 102.81 15.349 L 102.81 15.349 L 102.81 15.349 Q 101.86 13.719 101.86 11.699 L 101.86 11.699 L 101.86 11.699 Q 101.86 9.679 102.81 8.049 L 102.81 8.049 L 102.81 8.049 Q 103.76 6.419 105.44 5.499 L 105.44 5.499 L 105.44 5.499 Q 107.12 4.579 109.2 4.579 L 109.2 4.579 L 109.2 4.579 Q 110.76 4.579 112.08 5.099 L 112.08 5.099 L 112.08 5.099 Q 113.4 5.619 114.32 6.619 L 114.32 6.619 L 113.38 7.559 L 113.38 7.559 Q 111.74 5.899 109.24 5.899 L 109.24 5.899 L 109.24 5.899 Q 107.58 5.899 106.22 6.659 L 106.22 6.659 L 106.22 6.659 Q 104.86 7.419 104.09 8.739 L 104.09 8.739 L 104.09 8.739 Q 103.32 10.059 103.32 11.699 L 103.32 11.699 L 103.32 11.699 Q 103.32 13.339 104.09 14.659 L 104.09 14.659 L 104.09 14.659 Q 104.86 15.979 106.22 16.739 L 106.22 16.739 L 106.22 16.739 Q 107.58 17.499 109.24 17.499 L 109.24 17.499 L 109.24 17.499 Q 111.76 17.499 113.38 15.819 L 113.38 15.819 L 114.32 16.759 L 114.32 16.759 Q 113.4 17.759 112.07 18.289 L 112.07 18.289 L 112.07 18.289 Q 110.74 18.819 109.18 18.819 L 109.18 18.819 L 109.18 18.819 Z  M 118.54 10.239 L 118.54 10.239 Q 119.04 9.179 120.03 8.639 L 120.03 8.639 L 120.03 8.639 Q 121.02 8.099 122.48 8.099 L 122.48 8.099 L 122.48 9.479 L 122.14 9.459 L 122.14 9.459 Q 120.48 9.459 119.54 10.479 L 119.54 10.479 L 119.54 10.479 Q 118.6 11.499 118.6 13.339 L 118.6 13.339 L 118.6 18.699 L 117.18 18.699 L 117.18 8.179 L 118.54 8.179 L 118.54 10.239 L 118.54 10.239 Z  M 134.12 13.439 L 134.1 13.879 L 125.3 13.879 L 125.3 13.879 Q 125.42 15.519 126.56 16.529 L 126.56 16.529 L 126.56 16.529 Q 127.7 17.539 129.44 17.539 L 129.44 17.539 L 129.44 17.539 Q 130.42 17.539 131.24 17.189 L 131.24 17.189 L 131.24 17.189 Q 132.06 16.839 132.66 16.159 L 132.66 16.159 L 133.46 17.079 L 133.46 17.079 Q 132.76 17.919 131.71 18.359 L 131.71 18.359 L 131.71 18.359 Q 130.66 18.799 129.4 18.799 L 129.4 18.799 L 129.4 18.799 Q 127.78 18.799 126.53 18.109 L 126.53 18.109 L 126.53 18.109 Q 125.28 17.419 124.58 16.199 L 124.58 16.199 L 124.58 16.199 Q 123.88 14.979 123.88 13.439 L 123.88 13.439 L 123.88 13.439 Q 123.88 11.899 124.55 10.679 L 124.55 10.679 L 124.55 10.679 Q 125.22 9.459 126.39 8.779 L 126.39 8.779 L 126.39 8.779 Q 127.56 8.099 129.02 8.099 L 129.02 8.099 L 129.02 8.099 Q 130.48 8.099 131.64 8.779 L 131.64 8.779 L 131.64 8.779 Q 132.8 9.459 133.46 10.669 L 133.46 10.669 L 133.46 10.669 Q 134.12 11.879 134.12 13.439 L 134.12 13.439 L 134.12 13.439 Z  M 129.02 9.319 L 129.02 9.319 Q 127.5 9.319 126.47 10.289 L 126.47 10.289 L 126.47 10.289 Q 125.44 11.259 125.3 12.819 L 125.3 12.819 L 132.76 12.819 L 132.76 12.819 Q 132.62 11.259 131.59 10.289 L 131.59 10.289 L 131.59 10.289 Q 130.56 9.319 129.02 9.319 L 129.02 9.319 L 129.02 9.319 Z  M 140.4 8.099 L 140.4 8.099 Q 142.46 8.099 143.56 9.129 L 143.56 9.129 L 143.56 9.129 Q 144.66 10.159 144.66 12.179 L 144.66 12.179 L 144.66 18.699 L 143.3 18.699 L 143.3 17.059 L 143.3 17.059 Q 142.82 17.879 141.89 18.339 L 141.89 18.339 L 141.89 18.339 Q 140.96 18.799 139.68 18.799 L 139.68 18.799 L 139.68 18.799 Q 137.92 18.799 136.88 17.959 L 136.88 17.959 L 136.88 17.959 Q 135.84 17.119 135.84 15.739 L 135.84 15.739 L 135.84 15.739 Q 135.84 14.399 136.81 13.579 L 136.81 13.579 L 136.81 13.579 Q 137.78 12.759 139.9 12.759 L 139.9 12.759 L 143.24 12.759 L 143.24 12.119 L 143.24 12.119 Q 143.24 10.759 142.48 10.049 L 142.48 10.049 L 142.48 10.049 Q 141.72 9.339 140.26 9.339 L 140.26 9.339 L 140.26 9.339 Q 139.26 9.339 138.34 9.669 L 138.34 9.669 L 138.34 9.669 Q 137.42 9.999 136.76 10.579 L 136.76 10.579 L 136.12 9.519 L 136.12 9.519 Q 136.92 8.839 138.04 8.469 L 138.04 8.469 L 138.04 8.469 Q 139.16 8.099 140.4 8.099 L 140.4 8.099 L 140.4 8.099 Z  M 139.9 17.679 L 139.9 17.679 Q 141.1 17.679 141.96 17.129 L 141.96 17.129 L 141.96 17.129 Q 142.82 16.579 143.24 15.539 L 143.24 15.539 L 143.24 13.819 L 139.94 13.819 L 139.94 13.819 Q 137.24 13.819 137.24 15.699 L 137.24 15.699 L 137.24 15.699 Q 137.24 16.619 137.94 17.149 L 137.94 17.149 L 137.94 17.149 Q 138.64 17.679 139.9 17.679 L 139.9 17.679 L 139.9 17.679 Z  M 153.56 17.039 L 154.06 18.059 L 154.06 18.059 Q 153.66 18.419 153.07 18.609 L 153.07 18.609 L 153.07 18.609 Q 152.48 18.799 151.84 18.799 L 151.84 18.799 L 151.84 18.799 Q 150.36 18.799 149.56 17.999 L 149.56 17.999 L 149.56 17.999 Q 148.76 17.199 148.76 15.739 L 148.76 15.739 L 148.76 9.379 L 146.88 9.379 L 146.88 8.179 L 148.76 8.179 L 148.76 5.879 L 150.18 5.879 L 150.18 8.179 L 153.38 8.179 L 153.38 9.379 L 150.18 9.379 L 150.18 15.659 L 150.18 15.659 Q 150.18 16.599 150.65 17.089 L 150.65 17.089 L 150.65 17.089 Q 151.12 17.579 152 17.579 L 152 17.579 L 152 17.579 Q 152.44 17.579 152.85 17.439 L 152.85 17.439 L 152.85 17.439 Q 153.26 17.299 153.56 17.039 L 153.56 17.039 L 153.56 17.039 Z  M 156.64 18.699 L 156.64 8.179 L 158.06 8.179 L 158.06 18.699 L 156.64 18.699 L 156.64 18.699 Z  M 157.36 5.879 L 157.36 5.879 Q 156.92 5.879 156.62 5.579 L 156.62 5.579 L 156.62 5.579 Q 156.32 5.279 156.32 4.859 L 156.32 4.859 L 156.32 4.859 Q 156.32 4.459 156.62 4.159 L 156.62 4.159 L 156.62 4.159 Q 156.92 3.859 157.36 3.859 L 157.36 3.859 L 157.36 3.859 Q 157.8 3.859 158.1 4.149 L 158.1 4.149 L 158.1 4.149 Q 158.4 4.439 158.4 4.839 L 158.4 4.839 L 158.4 4.839 Q 158.4 5.279 158.1 5.579 L 158.1 5.579 L 158.1 5.579 Q 157.8 5.879 157.36 5.879 L 157.36 5.879 L 157.36 5.879 Z  M 169.46 8.179 L 170.86 8.179 L 166.18 18.699 L 164.72 18.699 L 160.06 8.179 L 161.54 8.179 L 165.48 17.139 L 169.46 8.179 L 169.46 8.179 Z  M 181.74 13.439 L 181.72 13.879 L 172.92 13.879 L 172.92 13.879 Q 173.04 15.519 174.18 16.529 L 174.18 16.529 L 174.18 16.529 Q 175.32 17.539 177.06 17.539 L 177.06 17.539 L 177.06 17.539 Q 178.04 17.539 178.86 17.189 L 178.86 17.189 L 178.86 17.189 Q 179.68 16.839 180.28 16.159 L 180.28 16.159 L 181.08 17.079 L 181.08 17.079 Q 180.38 17.919 179.33 18.359 L 179.33 18.359 L 179.33 18.359 Q 178.28 18.799 177.02 18.799 L 177.02 18.799 L 177.02 18.799 Q 175.4 18.799 174.15 18.109 L 174.15 18.109 L 174.15 18.109 Q 172.9 17.419 172.2 16.199 L 172.2 16.199 L 172.2 16.199 Q 171.5 14.979 171.5 13.439 L 171.5 13.439 L 171.5 13.439 Q 171.5 11.899 172.17 10.679 L 172.17 10.679 L 172.17 10.679 Q 172.84 9.459 174.01 8.779 L 174.01 8.779 L 174.01 8.779 Q 175.18 8.099 176.64 8.099 L 176.64 8.099 L 176.64 8.099 Q 178.1 8.099 179.26 8.779 L 179.26 8.779 L 179.26 8.779 Q 180.42 9.459 181.08 10.669 L 181.08 10.669 L 181.08 10.669 Q 181.74 11.879 181.74 13.439 L 181.74 13.439 L 181.74 13.439 Z  M 176.64 9.319 L 176.64 9.319 Q 175.12 9.319 174.09 10.289 L 174.09 10.289 L 174.09 10.289 Q 173.06 11.259 172.92 12.819 L 172.92 12.819 L 180.38 12.819 L 180.38 12.819 Q 180.24 11.259 179.21 10.289 L 179.21 10.289 L 179.21 10.289 Q 178.18 9.319 176.64 9.319 L 176.64 9.319 L 176.64 9.319 Z  M 33.1 6.879 L 25.48 6.879 L 25.48 11.139 L 32.24 11.139 L 32.24 13.339 L 25.48 13.339 L 25.48 18.699 L 22.88 18.699 L 22.88 4.699 L 33.1 4.699 L 33.1 6.879 L 33.1 6.879 Z  M 42.92 8.019 L 45.42 8.019 L 45.42 18.699 L 43.04 18.699 L 43.04 17.339 L 43.04 17.339 Q 42.44 18.059 41.54 18.449 L 41.54 18.449 L 41.54 18.449 Q 40.64 18.839 39.6 18.839 L 39.6 18.839 L 39.6 18.839 Q 37.46 18.839 36.23 17.649 L 36.23 17.649 L 36.23 17.649 Q 35 16.459 35 14.119 L 35 14.119 L 35 8.019 L 37.5 8.019 L 37.5 13.779 L 37.5 13.779 Q 37.5 15.219 38.15 15.929 L 38.15 15.929 L 38.15 15.929 Q 38.8 16.639 40 16.639 L 40 16.639 L 40 16.639 Q 41.34 16.639 42.13 15.809 L 42.13 15.809 L 42.13 15.809 Q 42.92 14.979 42.92 13.419 L 42.92 13.419 L 42.92 8.019 L 42.92 8.019 Z  M 51.08 9.579 L 51.08 9.579 Q 52.16 7.899 54.88 7.899 L 54.88 7.899 L 54.88 10.279 L 54.88 10.279 Q 54.56 10.219 54.3 10.219 L 54.3 10.219 L 54.3 10.219 Q 52.84 10.219 52.02 11.069 L 52.02 11.069 L 52.02 11.069 Q 51.2 11.919 51.2 13.519 L 51.2 13.519 L 51.2 18.699 L 48.7 18.699 L 48.7 8.019 L 51.08 8.019 L 51.08 9.579 L 51.08 9.579 Z  M 64.96 8.019 L 67.34 8.019 L 67.34 22.579 L 64.84 22.579 L 64.84 17.399 L 64.84 17.399 Q 63.58 18.839 61.42 18.839 L 61.42 18.839 L 61.42 18.839 Q 59.86 18.839 58.63 18.159 L 58.63 18.159 L 58.63 18.159 Q 57.4 17.479 56.71 16.239 L 56.71 16.239 L 56.71 16.239 Q 56.02 14.999 56.02 13.359 L 56.02 13.359 L 56.02 13.359 Q 56.02 11.739 56.72 10.499 L 56.72 10.499 L 56.72 10.499 Q 57.42 9.259 58.64 8.579 L 58.64 8.579 L 58.64 8.579 Q 59.86 7.899 61.42 7.899 L 61.42 7.899 L 61.42 7.899 Q 62.52 7.899 63.43 8.279 L 63.43 8.279 L 63.43 8.279 Q 64.34 8.659 64.96 9.419 L 64.96 9.419 L 64.96 8.019 L 64.96 8.019 Z  M 61.7 16.699 L 61.7 16.699 Q 63.08 16.699 63.98 15.779 L 63.98 15.779 L 63.98 15.779 Q 64.88 14.859 64.88 13.359 L 64.88 13.359 L 64.88 13.359 Q 64.88 11.859 63.98 10.939 L 63.98 10.939 L 63.98 10.939 Q 63.08 10.019 61.7 10.019 L 61.7 10.019 L 61.7 10.019 Q 60.32 10.019 59.43 10.939 L 59.43 10.939 L 59.43 10.939 Q 58.54 11.859 58.54 13.359 L 58.54 13.359 L 58.54 13.359 Q 58.54 14.859 59.43 15.779 L 59.43 15.779 L 59.43 15.779 Q 60.32 16.699 61.7 16.699 L 61.7 16.699 L 61.7 16.699 Z  M 75.42 18.839 L 75.42 18.839 Q 73.8 18.839 72.5 18.139 L 72.5 18.139 L 72.5 18.139 Q 71.2 17.439 70.47 16.189 L 70.47 16.189 L 70.47 16.189 Q 69.74 14.939 69.74 13.359 L 69.74 13.359 L 69.74 13.359 Q 69.74 11.779 70.47 10.539 L 70.47 10.539 L 70.47 10.539 Q 71.2 9.299 72.5 8.599 L 72.5 8.599 L 72.5 8.599 Q 73.8 7.899 75.42 7.899 L 75.42 7.899 L 75.42 7.899 Q 77.06 7.899 78.36 8.599 L 78.36 8.599 L 78.36 8.599 Q 79.66 9.299 80.39 10.539 L 80.39 10.539 L 80.39 10.539 Q 81.12 11.779 81.12 13.359 L 81.12 13.359 L 81.12 13.359 Q 81.12 14.939 80.39 16.189 L 80.39 16.189 L 80.39 16.189 Q 79.66 17.439 78.36 18.139 L 78.36 18.139 L 78.36 18.139 Q 77.06 18.839 75.42 18.839 L 75.42 18.839 L 75.42 18.839 Z  M 75.42 16.699 L 75.42 16.699 Q 76.8 16.699 77.7 15.779 L 77.7 15.779 L 77.7 15.779 Q 78.6 14.859 78.6 13.359 L 78.6 13.359 L 78.6 13.359 Q 78.6 11.859 77.7 10.939 L 77.7 10.939 L 77.7 10.939 Q 76.8 10.019 75.42 10.019 L 75.42 10.019 L 75.42 10.019 Q 74.04 10.019 73.15 10.939 L 73.15 10.939 L 73.15 10.939 Q 72.26 11.859 72.26 13.359 L 72.26 13.359 L 72.26 13.359 Q 72.26 14.859 73.15 15.779 L 73.15 15.779 L 73.15 15.779 Q 74.04 16.699 75.42 16.699 L 75.42 16.699 L 75.42 16.699 Z  M 89.58 7.899 L 89.58 7.899 Q 91.6 7.899 92.82 9.079 L 92.82 9.079 L 92.82 9.079 Q 94.04 10.259 94.04 12.579 L 94.04 12.579 L 94.04 18.699 L 91.54 18.699 L 91.54 12.899 L 91.54 12.899 Q 91.54 11.499 90.88 10.789 L 90.88 10.789 L 90.88 10.789 Q 90.22 10.079 89 10.079 L 89 10.079 L 89 10.079 Q 87.62 10.079 86.82 10.909 L 86.82 10.909 L 86.82 10.909 Q 86.02 11.739 86.02 13.299 L 86.02 13.299 L 86.02 18.699 L 83.52 18.699 L 83.52 8.019 L 85.9 8.019 L 85.9 9.399 L 85.9 9.399 Q 86.52 8.659 87.46 8.279 L 87.46 8.279 L 87.46 8.279 Q 88.4 7.899 89.58 7.899 L 89.58 7.899 L 89.58 7.899 Z "
      fill="rgb(46,46,46)" />
  </svg>

</div>

<div id="logo-mobile" class="hidden">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    style="isolation:isolate" viewBox="0 0 24 24" width="24pt" height="24pt">
    <image
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAOCAYAAADqtqZhAAAARElEQVQYV8XOMRGAUAxEwfcnBnBAn+KIRCQgASs4QQIYyDFggnK7HZI22wtwD0kGsH38hhOYv0FmVkTswDXeV1VN3b0+gipFtM6Sd88AAAAASUVORK5CYII="
      x="6.844" y="9.715" width="2.813" height="14.004" />
    <path
      d=" M 13.505 7.88 L 16.277 7.36 C 16.877 7.248 17.521 6.686 17.715 6.106 L 18.302 4.344 L 13.595 5.226 L 6.057 6.64 C 5.456 6.752 4.812 7.314 4.619 7.894 L 4.031 9.656 L 10.693 8.407 Q 10.693 15.551 10.693 18.375 C 10.693 18.965 11.148 19.363 11.721 19.287 C 11.777 19.286 11.835 19.28 11.894 19.269 L 15.552 18.583 C 16.152 18.47 16.796 17.908 16.989 17.329 L 17.577 15.566 L 13.505 16.33 L 13.505 7.88 Z "
      fill="rgb(52,158,255)" />
    <path
      d=" M 4.031 5.906 L 17.943 3.298 C 18.544 3.185 19.188 2.623 19.381 2.044 L 19.969 0.281 L 6.057 2.89 C 5.456 3.002 4.812 3.564 4.619 4.144 L 4.031 5.906 Z "
      fill="rgb(46,46,46)" />
  </svg>
</div>